# VSCode
.vscode/
typings/
typings.json

# Node
node_modules/

# Xcode
*.xcuserstate
ios/Podfile.lock
ios/Pods/
ios/RCTQQAPI.xcworkspace/xcuserdata/
ios/RCTQQAPI.xcodeproj/xcuserdata/

# Android
.idea
.gradle
local.properties
*.iml
android/app/build
android/update/library/build
android/gradle/
android/gradlew
android/gradlew.bat

# Watchman
.watchmanconfig

*.log
.nvm
package-lock.json

# OS X
.DS_Store
